.Page {}

.Page_Main {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: $white;
}

.Page_Footer {
	padding-top: 1.5rem;
}


@media ( min-width: $pwccMq_LargeUp ) {
	.Page_Header {
		float: left;
		width: 220px;
	}
	
	.Page_Main {
		float: left;
		width: calc( 100% - 440px );
	}
	
	.Page_Sidebar {
		float: left;
		width: 220px;
		min-height: 50px;
	}
	
	.Page_Footer {
		clear: both;
	}
}