/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* CSS Transition
	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
	transition: $transition-property $transition-time $method;
}

/* Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback  
	Usage: @include font-size(1, large);
*/
@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword{ font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px;}
  font-size: $decimal-size * 1rem;
}

@mixin primaryFont( $code: 'n4', $important: null){
	font-family: sans-serif $important;
	.wf-lato-#{$code}-active & {
		font-family: Lato, sans-serif $important;
	}
}

@mixin secondaryFont( $code: 'n4', $important: null ){
	font-family: "Helvetica Neue",sans-serif $important;
	
	$family: "Uni Sans Regular";
	$jsfamily: unisansregular;
	@if ($code == 'n7') {
		$family: "Uni Sans Bold";
		$jsfamily: unisansbold;
	}
	
	.wf-#{$jsfamily}-#{$code}-active & {
		font-family: $family, "Helvetica Neue", sans-serif $important;
	}
}